<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinecommunity.mapper.PictureMapper">


    <select id="getPicUrlsByMomentId" parameterType="Integer" resultType="String">
        select url
        from online_community.picture
        where moment_id = ${momentId}
    </select>

    <insert id="insertPicturesUrl">
        insert into online_community.picture (moment_Id, `idx`, url) values
        <foreach collection="urlList" item="item" index="index" separator=",">
            (#{momentId}, #{index}, #{item})
        </foreach>
    </insert>

    <update id="updatePicturesUrl" parameterType="java.util.List">
        <foreach collection="urlList" item="item" index="index" separator=";">
            update online_community.picture
                <set>
                    url = #{item}
                </set>
            where moment_id = ${momentId} and idx = ${index}
        </foreach>

    </update>

    <insert id="insertOrUpdatePictureUrl">

        insert into online_community.picture (moment_Id, `idx`, url) values
        <foreach collection="urlList" item="item" index="index" separator=",">
            (#{momentId}, #{index}, #{item})
        </foreach>
    </insert>

</mapper>
